1. Kullanıcının girdiği kelimeyi ters çeviren bir kod yazınız.
        Örnek : "otobüs" --> "süboto
2. Girilen bir sayı için çarpım tablosunu yazdırın. 
```
        Örnek : Bir sayı girin : 6
                6 x 1 = 6                                                               
                6 x 2 = 12                                                              
                6 x 3 = 18                                                              
                6 x 4 = 24                                                              
                6 x 5 = 30                                                              
                6 x 6 = 36                                                              
                6 x 7 = 42                                                              
                6 x 8 = 48                                                              
                6 x 9 = 54                                                              
                6 x 10 = 60 
```                
3. List comprehension kullanarak, 1'den 20'ye kadar tek sayıların karesini, çift sayıların küpünü içeren bir liste oluşturun.
4. 1'den 200'e kadar olan sayıları (`range()`) kullanarak tek sayılar ve çift sayılar olmak üzere iki liste oluşturun.
5. Kullanıcıdan alınacak iki sayının OBEB ve OKEK'ini bulan bir program yazın.

In [13]:
a=input("bir isim giriniz")
liste=[]
for x in a :
  liste.append(a)

print(liste)

bir isim girinizomer
['omer', 'omer', 'omer', 'omer']

In [29]:
eskikelime=input("bir isim giriniz")
new_string = ''
index = len(eskikelime)
while index:
  index -= 1    
  eskikelime[index]

print(new_string)

bir isim girinizomer

In [32]:
eski_kelime=input("kelime gir:")
yeni_kelime = ''
index = len(a_string)

while index:
  index -= 1                    
  yeni_kelime += eski_kelime[index]

print(yeni_kelime)

kelime gir:omer
remo

In [60]:
sayi = input("Bir sayi giriniz:")
sayi=int(sayi)

for i in range(1,11):
  sonuc=i*sayi
  print(str(sayi) +" " + "X" +" " + str(i) + " ={}".format(sonuc))

Bir sayi giriniz:2
2 X 1 =2
2 X 2 =4
2 X 3 =6
2 X 4 =8
2 X 5 =10
2 X 6 =12
2 X 7 =14
2 X 8 =16
2 X 9 =18
2 X 10 =20

In [50]:
liste= [x**2 if x%2==0 else x**3 for x in range(1,21)]
print(liste)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400]

In [63]:
tek_sayi=[]
cift_sayi=[]

for x in range (1,201):
  if x % 2 == 0:
    cift_sayi.append(x)
  else:
    tek_sayi.append(x)

print(tek_sayi)
print(cift_sayi)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]